#maincontent {
    height: 100%;
    width: 100%;
}
body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgb(236, 236, 236);
}

#header {
    width: 100%;
    height: 8%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}


#side1 {
    width: 25%;
}

#side2 {
    width: 50%;
    border-left: 4px solid black;
}

#loginInfo {
    text-align:center;
    margin-top: 5%;
    margin-bottom: 62%;
    margin-left: auto;
    margin-right: auto;
}

#companyLogo {
    margin-top:-25%;
}

#pageImage {
    width:100%;
    height:100%;
    -webkit-animation: fade 10s;
    animation: fade;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  
  }