body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgb(236, 236, 236);
}

.approval {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10%;
    margin-top: 5%;
    width: 90%;
    height: 80%;
    text-align: center;
    align-content: center;
    float: right;
}

#header {
    width: 100%;
    border-bottom: 2px solid black;
    height: 8%;
}

#requests {
    text-align: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

#header *#logout{
    margin-top: -3.2%;
    float: right;
    margin-right: 5%;
}

#mainContent {
    width: 100%;
    height: 45%;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#info {
    margin-left:30%;
    height: 80%;
    text-align: center;
    align-content: center;
}
#info td {
    padding:10px;
}


#requests th, #requests td {
    border-bottom: 1px solid rgb(92, 89, 89);
    padding:10px;
  }


#requests tr:nth-child(even) {background-color: #c5c5c5;}
#requests tr:hover {background-color: #a6cfb9;}

